.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: space-evenly;
  align-items: center;

  .input {
    background-color: #1d1f20;
    border-radius: 4px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    padding: 10px;
    width: 600px;
    height: 400px;
    font-size: 14px;
    resize: none;
    outline: none;
  }

  .output {
    width: 600px;
    height: 50vh;
    overflow: scroll;
    padding: 10px;
    border: solid 1px #333;
    border-radius: 4px;
  }
}

